<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>

    {% load censor %}
    {% load custom_tags %}

    {% block title %}
    Onenews
    {% endblock title %}

{% block content %}

<h1>изменения поста</h1>
    <hr>
    <form action=""
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"
        value="сохранить" />
    </form>
{% endblock content %}
</head>
<body>

</body>
</html>