<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>
</head>
<body>
{% block content %}
{% if is_not_author %}
<button> <a href="{% url 'upgrade' %}"> стать автором!</a> </button>
{% else %}
<h1>вы уже автор</h1>
{% endif %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="news/logout/">Выйти</a> </button>
{% endblock %}
</body>
</html>